	<body>
		<h1 class="heading">Contact</h1>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./">Google App Engine</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</div>
		</nav>
	<div class="login_section">
		<h1 class="heading">About Us</h1>
		<table>
		<tr><td>
		<img src="images/cat1.png" style="margin-left:200px;width:200px;float:right;"></img>
		</td>
		<td>
			<address style="float:left;margin-right:10px;">
		Address: Kappa 123 Dr.<br/>
		City:    Lavender Town<br/>
		Region:  Kanto<br/>
		Postal:  86753-09<br/>
		Phone:   +1 (503) 621-6485<br/>
		Email:   <a href="mailto:siebertc@oregonstate.edu">siebertc@oregonstate.edu</a>
		</address></td></tr>
	
	
	</table>
	</div>
	</body>